---
const { text, artclass, textclass, title, desc, img } = Astro.props;
---

<article class={artclass}>
  <div class="flex">
    <img src={`/img/products/${img}.webp`} alt="Limone can" />
    <div>
      <h3 class={textclass}>{title}</h3>
      <p class={textclass}>{desc}</p>
    </div>
  </div>
  <div class="barbox">
    <span class="bar bar1"></span>
    <span class="bar bar2"></span>
  </div>
</article>

<style>
  article {
    display: flex;
    padding: 18px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .flex {
    display: flex;
    gap: 22px;
  }

  img {
    max-width: 40px;
  }

  h3 {
    padding: 14px 0 12px 0;
  }

  .barbox {
    position: relative;
    width: 40px;
    height: 30px;
  }
  .bar {
    display: block;
    background-color: black;
    height: 4px;
    width: 26px;
    border-radius: 10px;
    position: absolute;
  }
  .bar1 {
    transform: translate(-2px, 13px) rotate(45deg);
  }
  .bar2 {
    transform: translate(14px, 13px) rotate(-45deg);
  }

  .limone {
  }

  .limonebg {
  }
</style>
