---
import Button from "../components/Button.astro";
const { data } = Astro.props;
console.log(data);
---

<article>
  <img src={`/img/products/${data.img}.webp`} alt={`Can of ${data.name}`} />
  <h3>{data.name}</h3>
  <p class="info">{data.type} | {data.style}</p>
  <p class="price">{data.price},00 DKK</p>
  <Button text="Add to cart" href="#" type="cart" />
</article>

<style>
  article {
    padding-bottom: 60px;
  }
  h3 {
    text-align: center;
    padding-bottom: 10px;
  }
  p {
    text-align: center;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .info {
    color: var(--text2);
    padding-bottom: 6px;
  }
  .price {
    color: var(--text1);
    padding-bottom: 12px;
  }

  img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 16px;
  }
</style>
